<!-- FOOTER.EJS -->
<!-- AYLA DUFFTON, 1005377 -->
<!-- MAY 2020 -->

<!-- FOOTER -->
<footer class="colored-section" id="footer">
  <div class="container-fluid">
    <a href="https://www.tracoilandgas.com" <i class=" footer-icons fas fa-globe"></i></a>
    <a href="https://twitter.com/trac_oilandgas" <i class="footer-icons fab fa-twitter"></i></a>
    <a href="https://en-gb.facebook.com/tracoilandgas/" <i class="footer-icons fab fa-facebook-f"></i></a>
    <a href="mailto:oilandgas@trac.com" <i class="footer-icons fas fa-envelope"></i></a>
    <p class="footer-text copyright">© Copyright 2020 TRAC Oil & Gas Ltd</p>
  </div>
</footer>

<!-- JAVASCRIPT -->
<script src="/public/js/index.js" charset="utf-8"></script>
</body>

</html>
