<!-- MAIN.EJS -->
<!-- AYLA DUFFTON, 1005377 -->
<!-- MAY 2020 -->

<%- include("partials/header"); -%>

  <%- include("partials/logoAndTitle"); -%>

      <!-- MAIN MENU BUTTONS -->
      <div class="row">
          <a class="menu" href="/jobs"><button type="button" class="btn btn-dark btn-lg menu-button">Jobs</button></a>
      </div>
      <div class="row">
          <a class="menu" href="/technicians"><button type="button" class="btn btn-dark btn-lg menu-button">Technicians</button></a>
      </div>
      <div class="row">
          <a class="menu" href="/equipment"><button type="button" class="btn btn-dark btn-lg menu-button">Equipment</button></a>
      </div>

    </div>
  </section>

  <%- include("partials/footer"); -%>
